<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= user.name %> - Profile</title>
    <link rel="stylesheet" href="/css/Me.css">
    <link rel="stylesheet" href="/css/navbar.css" />
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="profile-card">
    <div class="profile-header">
        <img src="https://cdn-icons-png.flaticon.com/128/9131/9131529.png" 
             alt="Profile Picture" class="profile-img">

        <div class="profile-details">
            <h2><%= user.name %></h2>
            <p class="email"><%= user.email %></p>
            <p class="id">ID: <%= user.id %></p>
        </div>
    </div>

    <p class="desc">
        A motivated person is characterized by their drive to achieve goals, 
        their proactive nature, and their resilience in the face of challenges. 
        They possess a strong sense of purpose, are willing to take risks, and 
        exhibit enthusiasm and dedication to their tasks. These individuals are 
        often self-aware, adaptable, and committed to continuous learning and growth.
    </p>
</div>

</body>
</html>
